@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

html {
  scroll-behavior: smooth;
}

